<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Metrepp: Evoluciona tu restaurante">

    <title>Metrepp</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

    <!-- Custom styles for this template -->
    <link href="../css/landing-page.css" rel="stylesheet">
    <link href="../css/landing-page.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar"  style="background-color: #f8f9fc">
      <h2><img src="/img/time2.png" style="display: inline-block; width: 20%;">Metrepp</h2>
      <a href="https://blog.metrepp.com/"><button type="button" class="btn btn-primary btn-lg">Blog</button></a>

     
  </nav>
    <!-- <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Metrepp: Evoluciona tu restaurante</a>
      </div>
    </nav>
 -->
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Aumenta tus ingresos conociendo la información que rodea tu negocio</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="container">
	                 <a  class="btn btn-xlg btn-primary"  
	                  href="https://docs.google.com/forms/d/e/1FAIpQLScERLLOZxzC5w46PqJK_OmXVcLjJwkT2D9fuVYUNWrb9VaxmQ/viewform?usp=sf_link">
	              		Más información
	              	</a>

                </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex" style="color:#007bff">
                <i class=" m-auto fas fa-chart-line"></i>
              </div>
              <h3>Sigue tus ingresos</h3>
              <p class="lead mb-0">Toma decisiones adecuadas a partir de tus ventas en el último mes</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex" style="color:#007bff">
                <i class=" m-auto fas fa-user-plus"></i>
              </div>
              <h3>Fideliza clientes</h3>
              <p class="lead mb-0">Conoce mejor a tus clientes y ofreceles un mejor servicio</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Fácil de usar</h3>
              <p class="lead mb-0">Tu información en cualquier lugar.</p>
              <p class="lead mb-0">Listo para el mundo móvil</p>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid">
        
        <div class="row no-gutters">

         <div class="col-lg-6">
         	<img src="img/chart.png" class="img-fluid" alt="benefit evolution chart">
         </div>
           <div class="col-lg-6 order-lg-1  my-auto showcase-text">
            <h2>Tus ingresos bien controlados</h2>
            <p class="lead mb-0">Conoce el desempeño de tu restaurante al detalle. Los gráficos de Metrepp te ayudarán a conocer el estado mensual de un vistazo. Usa esta información para minimizar riesgos.</p>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2" >
          	
          	<img src="/img/client.jpg" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Conoce mejor a tus clientes</h2>
            <p class="lead mb-0">Detecta la opinión de tus comensales y mejora la valoración en internet motivando cambios en tu empresa. Ahora no se te escapará ningún comentario. </p>
          </div>
        </div>

        <div class="row no-gutters">
          	<div class="col-lg-6">
          		 <img src="img/mobile-view.png" class="img-fluid mx-auto d-block" style="width: 30%" alt="mobile-view">
         	</div>
       
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Fácil de usar</h2>
            <p class="lead mb-0">Metrepp está preparada para el entorno móvil. No es necesario comprar nuevo equipamiento para usarlo. Todo está listo y al alcance de tu mano.</p>
          </div>
        </div>

      </div>
    </section>
        <p></p>
    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">¿Listo para evolucionar tu negocio? ¡Obtén más información!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          		<div class="container">
	                 <a  class="btn btn-xlg btn-primary"  
	                  href="https://docs.google.com/forms/d/e/1FAIpQLScERLLOZxzC5w46PqJK_OmXVcLjJwkT2D9fuVYUNWrb9VaxmQ/viewform?usp=sf_link">
	              		Más información
	              	</a>
	             </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Metrepp 2018. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "#4b81e8"
    }
  },
  "position": "bottom-right",
  "content": {
    "message": "Metrepp usa cookies para asegurarte la mejor experiencia en nuestra web",
    "dismiss": "Lo entiendo",
    "link": "Saber más"
  }
})});
</script>
  </body>

</html>
